<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %><%= alert %></p>
    <% @pictures.each do |picture| %>
    <div class="row">
    <div class="photo">
      <p><%= profile_img(picture.user) %><b><%= picture.user.name %></b></p>
    </div>
    <div class="photo">
      <p><%= image_tag picture.photo_url %></p>
      <p><b><%= picture.user.name %></b> <%= picture.content %></p>
      <%= link_to "編集", edit_picture_path(picture.id) %>
      <%= link_to '削除', picture_path(picture.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %>
    </div>
  </div>
    <% end %>
  </div>
</div>
